# ======================================================
# Python
# ======================================================
__pycache__/
*.py[cod]
*$py.class

# ======================================================
# Virtual Environment
# ======================================================
.venv/
venv/
env/
ENV/
.env

# ======================================================
# Jupyter Notebook
# ======================================================
.ipynb_checkpoints/

# ======================================================
# VS Code
# ======================================================
.vscode/

# ======================================================
# Operating System
# ======================================================
.DS_Store
Thumbs.db
desktop.ini

# ======================================================
# Python Cache
# ======================================================
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# ======================================================
# Build
# ======================================================
build/
dist/
*.egg-info/

# ======================================================
# Logs
# ======================================================
*.log

# ======================================================
# Keep all project datasets
# ======================================================
# data/raw/
# data/processed/

# ======================================================
# Database (Optional)
# Uncomment if you don't want to upload database
# ======================================================
# database/*.db